    html {
        box-sizing: border-box;
    }

    body {
        background-color: #c1d5e0;
        width: 70%;
        margin: 0 17% 0 17%;
        font-family: 'Permanent Marker', cursive;
    }

    .distordus-title {
        background-color: #62757F;
        font-size: 64px;
        color: #a7ffeb;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .visualizer {
        width: 100%;
        height: 6rem;
    }

    header {
        padding: 0px 50px 30px 50px;
        color: #a7ffeb;
    }

    h1 {
        font-size: 22px;
        background-color: #90a4ae;
        font-style: italic;
        color: #ef5350;
    }

    .border, .border-h1 {
        display: flex;
        justify-content: center;
        padding: 20px 20px 20px 20px;
        margin: 0 auto;
    }

    .border-h1 {
        padding: 20px 35px 0px 20px;
    }

    #buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1rem solid black;
        margin-bottom: 0.40rem;
    }

    .buttonStopRec {
        margin: 7px;
        height: 75px;
        width: 83px;
    }

    #record {
        height: 86px;
        width: 86px;
        border-radius: 106px;
        background-color: rgb(255, 134, 124, .4);
        font-family: 'Permanent Marker', cursive;
    }

    .rec {
        animation-duration: .7s;
        animation-name: clignoter;
        animation-iteration-count: infinite;
        transition: none;
    }

    @keyframes clignoter {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .formfield-select {
        display: grid;
        justify-content: center;
        flex-direction: column;
        background-color: #62757f;
        color: #a7ffeb;
        font-size: large;
    }

    .effect__title {
        margin-top: 1rem;
    }

    input {
        background-color: #62757f;
    }

    .audio-display-style {
        background-color: #ff867c;
    }

    /* import style button switch  heritage pour tous les enfants*/

    *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    /* Switch starts here */

    .rocker-small {
        display: inline-block;
        position: relative;
        /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
        font-size: 1em;
        /* Sizes the switch */
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #888;
        width: 7em;
        height: 4em;
        overflow: hidden;
        border-bottom: 0.5em solid #62757F;
    }

    .rocker-small::before {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #999;
        border: 0.5em solid #62757F;
        border-bottom: 0;
    }

    .rocker-small input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .switch-left, .switch-right {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5em;
        width: 3em;
        transition: 0.1s;
    }

    .switch-left {
        height: 2.4em;
        width: 2.75em;
        left: 0.85em;
        bottom: 0.4em;
        background-color: #90A4AE;
        transform: rotate(15deg) skewX(15deg);
    }

    .switch-right {
        right: 0.5em;
        bottom: 0;
        background-color: #EF534F;
        color: white;
    }

    .switch-left::before, .switch-right::before {
        content: "";
        position: absolute;
        width: 0.4em;
        height: 2.45em;
        bottom: -0.45em;
        background-color: #90A4AE;
        transform: skewY(-65deg);
    }

    .switch-left::before {
        left: -0.4em;
    }

    .switch-right::before {
        right: -0.375em;
        background-color: transparent;
        transform: skewY(65deg);
    }

    input:checked+.switch-left {
        background-color: #A7FCEB;
        color: white;
        bottom: 0px;
        left: 0.5em;
        height: 2.5em;
        width: 3em;
        transform: rotate(0deg) skewX(0deg);
    }

    input:checked+.switch-left::before {
        background-color: transparent;
        width: 3.0833em;
    }

    input:checked+.switch-left+.switch-right {
        background-color: #90A4AE;
        color: #888;
        bottom: 0.4em;
        right: 0.8em;
        height: 2.4em;
        width: 2.75em;
        transform: rotate(-15deg) skewX(-15deg);
    }

    input:checked+.switch-left+.switch-right::before {
        background-color: #90A4AE;
    }

    /* Keyboard Users */

    input:focus+.switch-left {
        color: black;
    }

    input:checked:focus+.switch-left {
        color: white;
    }

    input:focus+.switch-left+.switch-right {
        color: #fff;
    }

    input:checked:focus+.switch-left+.switch-right {
        color: black;
    }